/* roboto-condensed-regular - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v14-cyrillic-regular.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v14-cyrillic-regular.woff') format('woff');
}
/* roboto-condensed-700 - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-condensed-v14-cyrillic-700.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v14-cyrillic-700.woff') format('woff');
}

/* noto-sans-regular - cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v6-cyrillic-regular.woff2') format('woff2'),
       url('../fonts/noto-sans-v6-cyrillic-regular.woff') format('woff');
}