.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    min-height: 210px;
    text-align: center;
    background-color: rgba(26,72,166,0.9);


    box-shadow: 0 -18px 8px 8px rgba(0,0,0,0.2);
    z-index: 1;
}
.tel{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 29px;
    margin-top: 105px;
    margin-left: 95px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    color: #6666cc;
    font-family: 'Noto Sans', sans-serif;

    font-size: 13px;
    &__link{
        display: block;
        margin-top: 70px;
        margin-bottom: 50px;
        img{
            display: inline-block;
            vertical-align: middle;
        }
    }
}


.email{
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 110px;
    margin-right: 110px;
    text-transform: uppercase;
}