.main-nav{
    font-size: 0;

    &__item{
        perspective: 800px;
        display: inline-block;
        vertical-align: top;
        width: 20%;

        transition:all 2s;
    }


    &__link{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        top: 45px;
        margin: auto;
        text-decoration: none;
        width: 90%;
        font-size: 27px;
        padding: 1em;
        background-color: $blue;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
}



.techn {
    /*временно*/ min-height: 600px;
    width: 20vw;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: transform .9s;
    /*animation: rotate 10s linear infinite;*/

    &__side {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20vw;

        &--front {
            background: gold;
            backface-visibility: hidden;
        }

        &--right {
            transform: translateX(10vw) translateZ(-10vw) rotateY(90deg);
            background: red;
        }

    }


    &:hover{
        transform: translateX(-10vw) translateZ(-10vw) rotateY(-90deg) ;
    }
}

.nav-item{

    transform-style: preserve-3d;
    position: relative;
    transition: transform .9s;

    &:hover{
        transform: rotateY(-90deg);
    }


    &__front{
        /*Временно*/ min-height: 970px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-size: cover;
        transform: translateZ(10vw);
    }

    &__right{
        /*Временно*/ min-height: 970px;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        padding-top: 210px;
        padding-left: 55px;
        background-color: #666666;
        transform: translateX(10vw) rotateY(90deg);

    }

    &--packequip{
        .nav-item__front{
            background-image: url("../img/packequip.jpg");
        }
    }

    &--packematerial{
        .nav-item__front{
            background-image: url("../img/packematerial.jpg");
        }
    }

    &--autoequip{
        .nav-item__front{
            background-image: url("../img/autoequip.jpg");
        }
    }

    &--technoequip{
        .nav-item__front{
            background-image: url("../img/technoequip.jpg");
        }
    }

     &--technoserv{
        .nav-item__front{
            background-image: url("../img/technoserv.jpg");
        }
    }



}