.main-nav{
    font-size: 0;

    &__item{
        perspective: 800px;
        display: inline-block;
        vertical-align: top;
        width: 20%;
        transition:all 2s;
        overflow: hidden;
    }


    &__link{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        top: 45px;
        margin: auto;
        text-decoration: none;
        width: 90%;
        font-size: 27px;
        line-height: 34px;
        font-weight: bold;
        padding: 1em;
        background-color: $blue;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        min-height: 122px;


        &:after{
            content: "";
            position: absolute;
            width: 80%;
            height: 0px;
            background-color: transparent;
            left: 0;
            right: 0;
            top: 101%;
            margin: auto;
            z-index: 0;
            box-shadow: 0 9px 30px 2px rgba(0, 0, 0, 0.9);;
        }
    }
}

 .packequip{
        .techn__side--front{
            background-image: url("../img/packequip.jpg");
            background-color: rgba(242, 247, 237, 0.35);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
        }
    }

    .packematerial{
        .techn__side--front{
            background-image: url("../img/packematerial.jpg");
            background-color: rgba(242, 247, 237, 0.35);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
        }
    }

    .autoequip{
        .techn__side--front{
            background-image: url("../img/autoequip.jpg");
            background-color: rgba(242, 247, 237, 0.35);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;        }
    }

    .technoequip{
        .techn__side--front{
            background-image: url("../img/technoequip.jpg");
            background-color: rgba(242, 247, 237, 0.35);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
        }
    }

     .technoserv{
        .techn__side--front{
            background-image: url("../img/technoserv.jpg");
            background-color: rgba(242, 247, 237, 0.35);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
        }
    }

.techn {
    /*временно*/ min-height: 100vh;
    width: 20vw;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: transform .9s;
    /*animation: rotate 10s linear infinite;*/

    &__side {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20vw;

        &--front {
            backface-visibility: hidden;
        }

        &--right {
            transform: translateX(10vw) translateZ(-10vw) rotateY(90deg);
            background-color: #666666;
            backface-visibility: hidden;
            padding-top: 215px;
            padding-left: 40px;
            padding-right: 20px;

            ul{
                margin: 0;
                padding: 0;
                list-style: none;

                li{
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 25px;

                    a{
                        text-decoration: none;
                        color: #fff;
                        &:hover{
                            color: #3399ff;
                        }
                    }
                }
            }
        }

    }


    &:hover{
        transform: translateX(-10vw) translateZ(-10vw) rotateY(-90deg) ;
    }
}


.content{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding: 50px;

    h1{
        font-size: 20px;
        margin-bottom: 10px;
    }

    p{
        font-size: 18px;
    }
}
